{% extends 'base.html' %}

<head>
    {% block title %}
    <title>Изменение пароля</title>
    {% endblock %}
</head>

<body>
{% block content %}
    {{ status }}
    <form action="" method="post">
        <p>
            <label for="username">Username</label>
            <input type="text" readonly name="username" value={{ username }}>
        </p>
        Введите новый пароль
        <p>
            <label for="password">Password</label>
            <input type="password" name="password">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>

    {% if password_changed %}
        <p>{{ message }}</p>
    {%  endif %}

{% endblock %}
</body>
</html>