{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block btn %}
<div class="button-wrap">
    <button class="btnSignIn">Вход</button>
</div>
{% endblock %}

{% block content %}
<div class="content-wrap">
    <div class="content">
        <div class="content-header">
            <h1>Качетсвенный <br>
                ремонт авто</h1>
        </div>
        <div class="content-btn">
            <button class="content-btn__recording">Записаться</button>
        </div>
    </div>
</div>
{% endblock %}

{% block popup %}
<div class="popup open">
    <div class="popup_body">
        <div class="popup_content">
            <form action="change_password" method="POST">
                <p class="popup-close"></p>
                <h4>{{ status }}</h4>
                <p class="popup_label">Введите логин:</p>
                <input type="text" class="popup-input" readonly name="username" value={{ username }}>
                <p class="popup_label">Введите новый пароль:</p>
                <input type="password" class="popup-input" name="password">
                <div class="btn-wrap">
                    <button class="popup-button" type="submit">Продолжить</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}