{%  extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block btn %}
<div class="button-wrap">
    <button class="btnSignIn">Вход</button>
</div>
{% endblock %}

{% block content %}
<div class="content-wrap">
    <div class="content">
        <div class="content-header">
            <h1>Качетсвенный <br>
                ремонт авто</h1>
        </div>
        <div class="content-btn">
            <button class="content-btn__recording">Записаться</button>
        </div>
    </div>
</div>
{% endblock %}

{% block popup %}
<div class="popup">
    <div class="popup_body">
        <div class="popup_content">

        </div>
    </div>
</div>
{% endblock %}
