{%  extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block btn %}
    <!--<form action="{{ url_for('login') }}" method="GET">-->
<div class="button-wrap">
    <button class="btnSignIn">Вход</button>
</div>
   <!-- </form>-->
{% endblock %}

{% block content %}
<div class="content-wrap">
    <div class="content">
        <div class="content-header">
            <h1>Качетсвенный <br>
                ремонт авто</h1>
        </div>
        <div class="content-btn">
            <button class="content-btn__recording">Записаться</button>
        </div>
    </div>
</div>
{% endblock %}
