{% extends 'base.html' %}

{% block title %}
<title>Запись в автосервис</title>
{% endblock %}

{% block btn %}
<div class="button-wrap">
    <button class="btnSignIn">Вход</button>
</div>
{% endblock %}

{% block content %}
<div class="content-wrap">
    <div class="content">
        <div class="content-header">
            <h1>Качетсвенный <br>
                ремонт авто</h1>
        </div>

        <!-- Эта форма добалена Natali для тестов -->
        <form action="new_record" method="GET">
            <div class="content-btn">
                <button class="content-btn__recording">Записаться</button>
            </div>
        </form>
        <!-- Ivan Baturin аттеншен -->

    </div>
</div>
{% endblock %}


{% block popup %}
    {{ status }}
<div class="popup open">
    <div class="popup_body">
        <div class="popup_content">

        </div>
    </div>
</div>
    {% if password_changed %}
        <p>{{ message }}</p>
    {%  endif %}
{% endblock %}
