{% extends 'base.html' %}

<head>
    {% block title %}
    <title>Запись в автосервис</title>
    {% endblock %}
</head>

<body>
{% block content %}
    {{ status }}
    <form action="" method="post">
	    Введите номер телефона:
        <p>
            <input name="phone_number" type="tel" pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" value="+7">
        </p>
        Выберите марку и модель авто:
        <p>
		    <select name = "Trademark">
			{% for i in range(trademark_list | length) %}
			   <option name={{ trademark_list[i] }}>{{trademark_list[i] }}</option>
			{% endfor %}
			</select>
        </p>
		
		Выберите тип услуги:
        <p>
		    <select name = "About">
			{% for i in range(about_list | length) %}
			   <option name="{{ about_list[i] }}">{{ about_list[i] }}</option>
			{% endfor %}
			</select>

        </p>
				
        <p>
		    <button name="button" value="go to amount">Продолжить</button>
        </p>
    </form>

    {% if password_changed %}
        <p>{{ message }}</p>
    {%  endif %}

{% endblock %}
</body>
</html>